.title {
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
  width: 100px;
  background-color: orange;
  padding: 5px;
}

.category {
  display: block;
  margin-bottom: 10px;
  padding-left: 0px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
  font-size: 12px;
  background-color: black;
  color: white;
  width: 100px;
  padding: 5px;
}

.checkmark {
  position: absolute;
  height: 0px;
  width: 0px;
  top: 0;
  left: 0;
}

.categorycontainer {
  background-color: white;
}
