.shopImage {
  display: block;
  width: 100%;
  height: 200px;
  margin-top: -35px;
}
div {
  background-color: ghostwhite;
}
.imageContainer {
  position: relative;
  /* margin-top:0px; */
}

.overlayText {
  position: absolute;
  text-align: center;
  color: black;
  font-size: 10px;
  z-index: 1;
  top: 0.5%;
  left: 2.5%;
  background-color: transparent;
}

p {
  font-size: 15px;
  font-style: bold;
}
.title1 {
  font-size: 30px;
  position: inherit;
  font-style: italic;
  color: whitesmoke;
  border-bottom: chocolate 3px;
  border-bottom: inset;
  background-color: black;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
  margin-top: 0px;
}
