.picture {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  padding:2px
  
}
.details{
    font-size: 15px;
    text-wrap:wrap ;
}
.container{
    border: black solid;
    padding-left: 2px ;
    padding-right: 2px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 2%;
    border-color: blanchedalmond;
    border-style: ridge;
    border-width: 5px;
}
.prod{
  padding-top: 10px;
}
