.container1{
    background-color:floralwhite;
    width:350px;
    height:700px;
    border: solid black;
    margin-left: 450px;
}
/* .productPage{
    background-color: bisque;
    width: 1263px;
    height:1200px;
    margin-top: -25px;
    margin-left: 300px;
} */

.picture{
    width: 150px;
    height:auto;
}
.details1{

    width: 300px;
    height:auto
}